name: Node.js CI/CD

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Deploy to Alibaba Cloud
        env:
          HOST: ${{ secrets.ALICLOUD_HOST }}
          USERNAME: ${{ secrets.ALICLOUD_USERNAME }}
          KEY: ${{ secrets.ALICLOUD_SSH_KEY }}
        run: |
          echo "$KEY" > alicloud_key
          chmod 600 alicloud_key
          sudo apt-get install -y rsync

          echo "开始同步文件（排除 prisma/data.db）..."

          rsync -avz \
            -e "ssh -o StrictHostKeyChecking=no -i alicloud_key" \
            --exclude 'node_modules' \
            --exclude '.next' \
            --exclude '.git' \
            --exclude 'prisma/data.db' \
            --delete \
            ./ $USERNAME@$HOST:zeno/

          echo "部署中..."
          ssh -o StrictHostKeyChecking=no -i alicloud_key $USERNAME@$HOST << 'EOF'
            pwd
            cd zeno
            echo "DATABASE_URL=file:./data.db" > .env
            npm install
            npx prisma generate
            npx prisma migrate deploy
            npm run build
            pm2 restart "zeno" || pm2 start npm --name "zeno" -- run start
          EOF
