name: Node.js CI/CD

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Deploy to Alibaba Cloud
        env:
          HOST: ${{ secrets.ALICLOUD_HOST }}
          USERNAME: ${{ secrets.ALICLOUD_USERNAME }}
          KEY: ${{ secrets.ALICLOUD_SSH_KEY }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: |
          if [ -z "$USERNAME" ]; then
            echo "USERNAME is not set"
            exit 1
          else
            echo "USERNAME is set"
          fi
          echo "$KEY" > alicloud_key
          chmod 600 alicloud_key
          sudo apt-get install rsync
          rsync --version
          rsync -avz -e "ssh -vvv -o StrictHostKeyChecking=no -i alicloud_key" --exclude 'node_modules' ./ $USERNAME@$HOST:zeno
          ssh -o StrictHostKeyChecking=no -i alicloud_key $USERNAME@$HOST << 'EOF'
          cat > .env << EOF
          NODE_ENV=production
          DATABASE_URL="${DATABASE_URL}"
          EOF
            cd zeno
            npm install
            npx prisma generate
            npx prisma migrate deploy
            npm run build
            pm2 restart "zeno"
          EOF
